services:
  nginx:
    build: ./nginx
    ports:
      - "443:443"
    volumes:
      - wordpress_data:/var/www/html/wordpress
    depends_on:
      - wordpress

  wordpress:
    build: ./wordpress
    volumes:
      - wordpress_data:/var/www/html/wordpress
    environment:
      - MYSQL_HOST=mariadb
      - MYSQL_DATABASE=${MYSQL_DATABASE}
      - MYSQL_USER=${MYSQL_USER}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
    depends_on:
      - mariadb

  mariadb:
    build: ./mariadb
    volumes:
      - mariadb_data:/var/lib/mysql
    environment:
      - MYSQL_DATABASE=${MYSQL_DATABASE}
      - MYSQL_USER=${MYSQL_USER}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}

volumes:
  wordpress_data:
  mariadb_data:

networks:
  default:
    driver: bridge
